@media (max-width: 1000px) {

    /* header */
    header{
        height: 74px;
    }

    .logo{
        width: 70px;
    }

    .header-center h1{
        text-align: center;
        margin-left: 80px;
        font-size: 26px;
        margin-top: 20px;
    }

    .header-right p{
    padding: 6px 14px;
    font-size: 16px;
    margin-top: 16px;
    }



    /* main */

    .top-wripper h1{
        font-size: 50px;
    }

    .top-wripper h2{
        font-size: 36px;
    }



    /* body */
    .lesson{
        width: 50%;
        margin-bottom: 10px;
    }

    .heading h2{
        font-size: 36px;
    }

    .heading h3{
        font-size: 22px;
    }


    /* footer */
    .bagian-kiri img{
        width: 100px;
        margin-left: 10px;
    }

    .bagian-kiri p{
        font-size: 10px;
        margin-left: 10px;
    }

    .bagian-kanan img{
        width: 130px;
    }
}




@media (max-width: 670px) {
    /* header */

    header{
        height: 54px;
    }

    .logo{
        width: 40px;
    }

    .header-center h1{
        text-align: center;
        margin-left: 50px;
        font-size: 16px;
        margin-top: 16px;
    }

    .header-right p{
    padding: 4px 10px;
    font-size: 10px;
    margin-top: 10px;
    }

    /* main */

    .top-wripper h1{
        font-size: 36px;
    }

    .top-wripper h2{
        font-size: 20px;
    }

    /* body */

    .lesson{
        width: 100%;
    }

    .heading h2{
        font-size: 24px;
    }

    .heading h3{
        font-size: 16px;
    }

    /* footer */

    .bagian-kiri img{
        width: 80px;
        margin-left: 10px;
    }

    .bagian-kiri p{
        font-size: 8px;
        margin-left: 10px;
    }

    .bagian-kanan img{
        width: 100px;
    }
}
