@media (max-width: 1000px) {
   
    .header-center h1{
        text-align: center;
    }

    .top-wripper h1{
        font-size: 50px;
    }

    .top-wripper h2{
        font-size: 36px;
    }

    .bagian-kiri img{
        width: 100px;
    }

    .bagian-kiri p{
        font-size: 10px;
    }

    .bagian-kanan img{
        width: 130px;
    }
}
@media (max-width: 670px) {
 
    .header-right p{
        padding:4px 12px;
        margin-top: 24px;
    }

    .top-wripper h1{
        font-size: 36px;
    }

    .top-wripper h2{
        font-size: 20px;
    }

    .bagian-kiri img{
        width: 80px;
    }

    .bagian-kiri p{
        font-size: 8px;
    }

    .bagian-kanan img{
        width: 100px;
    }
}
