body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}


.lesson-wrapper {
  height: 500px;
  width: 1200px
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}


.lesson {
  float: left;
  width: 20%;
}


.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 90px;
  width: 100%;
  color: white;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  color: black;
}

.heading h3 {
  font-weight: normal;
}

.image-circle {
	border-radius: 50%
	max-width: 8rem;
	height: 8rem;
	position: relative;
	display: inline-block;
	border-radius: 4rem;
}
